@import "common.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  user-select: none;
}

small {
  @apply inline;
  font-size: smaller;
}

a:not(.no-underline) {
  @apply relative;
}

a:not(.no-underline):hover::after,
a:not(.no-underline):focus::after {
  transform: scaleX(1);
}

a:not(.no-underline)::after {
  @apply absolute bg-current transition-transform duration-300;
  content: "";
  left: 0;
  right: 0;
  bottom: 1px;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left center;
}

/* placeholder for missing devicon */
.devicon-wpf-plain {
  font-weight: 900;
}

.devicon-wpf-plain:before {
  content: "WPF";
}

.devicon-wpf-plain.colored {
  color: #1384c8; /* Same with dot-net */
}
